body {
    max-width: 61em;
}

ul {
    text-transform: capitalize;
    text-align: left;
    padding: 0.2em;
    margin: 0.5em 0.5em 1em 1.8em;
}

li {
    list-style-type: circle;
}

.fieldFooter {
    text-transform: uppercase;
    display: block;
    clear: both;
    font-size: 0.6em;
}

.fieldHeader {
    text-transform: uppercase;
    display: block;
    clear: both;
    font-size: 0.8em;
}

.mainAttribute {
    font-size: 1.2em;
    float: left;
    display: block;
    margin-left: 0.4em;
    padding: 0.3em;
    width: 10em;
}

.mainAttribute .fieldFooter {
    border-top: 1px solid gray;
}

.doubleBorderBox {
    display: block;
    float: left;
    width: 100%;
    margin-bottom: 1em;
    border: 3px double gray;
    font-size: 1.0em;
    text-transform: uppercase;
    text-align: center;
}

.grayRoundedBox {
    display: block;
    padding: 1em;
    float: left;
    background-color: lightgray;
    border: solid 1px darkgray;
    border-radius: 15%;
}

.whiteBox {
    text-align: left;
    font-size: 1.2em;
    padding: 0.3em;
}

.whiteBox .fieldFooter {
    margin-top: 1em;
    text-align: center;
}

.whiteBox, .mainStat {
    background-color: white;
    display: block;
    border: 1px gray solid;
    border-radius: 8px;
}

.mainStat {
    text-align: center;
    margin-top: 1em;
    padding-top: 0.5em;
    clear: both;
    height: 2.5em;
    font-size: 2em;
}

.mainStat .fieldHeader {
    font-size: 0.4em;
}

.mainStatModifier {
    margin: auto;
    width: 1em;
    font-size: 0.5em;
    border: 1px lightgray solid;
    border-radius: 8px;
    display: block;
}

.proficient {
    list-style-type: disc;
}

.checkModifier {
    display: inline-block;
    width: 2em;
    text-align: center;
    margin-right: 1em;
    line-height: 1em;
    border-bottom: 1px lightgray solid;
}

.coins {
    margin: -0.3em 1.2em 0 -1.5em;
    display: block;
    float: left;
    width: 3em;
}

.coinType {
    z-index: 2;
    background: white;
    border: 1px solid black;
    padding: 0;
    height: 1em;
    margin-top: 0.6em;
    line-height: 1.2em;
    display: block;
    width: 1.5em;
    float: left;
}

.coin {
    background-color: white;
    padding: 0.2em;
    display: block;
    border: 3px black double;
    border-radius: 25%;
    font-size: 1.1em;
    line-height: 1.5em;
    height: 1.5em;
    margin-bottom: 0.5em;
    width: 1.6em;
    margin-left: 1em;
    clear: right;
}

#mainStatsContainer {
    text-align: center;
    width: 6em;
    clear: left;
    margin-right: 1em;
    margin-bottom: 1em;
}

#mainAttributes, #charnameContainer {
    min-width: 20em;
}

#charnameContainer {
    max-width: 40em;
    alignment: center;
    display: block;
    float: left;
    margin-left: auto;
    margin-right: auto;
}

#charname {
    text-align: center;
    font-size: 2em;
    width: 6em;
    margin: 0.5em auto auto;
}

#mainAttributes {
    max-width: 40em;
    float: left;
    clear: right;
    display: block;
    border: 1px gray solid;
    border-radius: 15px;
    margin-bottom: 1em;
}

#throwsAndSkillsContainer {
    display: block;
    float: left;
    width: 16em;
    padding: 1em;
    font-size: 0.8em;
}

#inspirationContainer {
    display: block;
    line-height: 2.2em;
    width: 100%;
}

#inspirationPoints {
    display: block;
    float: left;
    border: 3px black solid;
    border-radius: 15%;
    margin-top: -0.1em;
    line-height: 2.6em;
    width: 2.7em;
    height: 2.6em;
    text-align: center;
}

#inspiration, #proficiencyBonus {
    width: 81%;
    margin-left: 3.1em;
    float: none;
}

#inspiration {
    margin-top: 0.2em;
}

#proficiencyContainer {
    margin-top: 1em;
    display: block;
    float: left;
    line-height: 2.2em;
    width: 100%;
}

#proficiencyModifier {
    display: block;
    float: left;
    border: 1px black solid;
    border-radius: 50%;
    padding: 0.5em;
    width: 2em;
    height: 2em;
    text-align: center;
}

#proficiencyBonus {
    margin-top: 0.3em;
}

#savingThrows, #skills {
    line-height: 1.8em;
    margin-top: 1em;
}

#combatAndAttacksContainer {
    display: block;
    float: left;
    width: 20em;
    padding: 0 1em;
    font-size: 0.8em;
    margin-right: 1em;
}

#combatContainer {
    font-size: 0.8em;
    width: 100%;
}

#combatContainer .mainStat {
    margin: 0.2em;
    font-size: 2.7em;
    height: 1.6em;
}

#armorClass {
    border-bottom-left-radius: 100%;
    border-bottom-right-radius: 100%;
    width: 1.6em;
    padding: 0.5em;
    clear: none;
    float: left;
}

#initiative, #speed {
    width: 2em;
    float: left;
    padding: 0.3em;
    clear: none;
}

#hitpoints, #hitdice {
    padding: 0;
}

#hitdice {
    font-size: 2.5em !important;
}

#attacksAndSpellcasting, #equipment {
    padding: 0.75em 0.75em 0;
    line-height: 1.5em;
    margin-top: 1em;
}

#equipment ul {
    margin: 0;
    padding: 0 3em;
    font-size: 1.2em;
    min-height: 14em;
}

#equipment li {
    list-style-type: none;
    text-transform: none;
}

#attacksAndSpellcasting table {
    text-align: left;
    margin: auto auto 1em;
}

#attacksAndSpellcasting table td {
    text-transform: capitalize;
    font-size: 1.1em;
    background-color: lightgray;
    border-radius: 15%;
}

#attacksAndSpellcasting table th {
    font-weight: normal;
    font-size: 0.75em;
}

#traitsProficienciesMiscContainer {
    display: block;
    float: left;
    text-align: center;
    width: 21em;
    padding: 0 1em;
    font-size: 0.8em;
}

#traitsidealsbondsflaws {
    width: 20em;
    margin-bottom: 1em;
}

#featuresandtraits, #otherProficienciesAndLanguages {
    margin-bottom: 1em;
    padding: 1em;
    font-size: 1.2em;
    text-transform: none;
}