#mainAttributes {
    display: block;
}

#charname {
    display: block;
    text-align: center;
    margin: auto;
    width: 100%;
    font-size: 1.5em;
}

#player {
    font-size: 0.8em;
}

span:empty:before {
    content: "\200b";
/ / unicode zero width space character
}

label {
    width: 2em;
    line-height: 1em;
}

label > input {
    vertical-align: text-bottom;
    line-height: 1em;
}

.mainStat {
    border-radius: 10px;
    border: solid 1px #e3e3e3;
    text-align: center;
    margin-top: 1em;
    margin-bottom: 1em;
    padding-left: 1em;
    padding-right: 1em;
    padding-bottom: 0.5em;

}

.mainStatModifier, .checkModifier {
    text-align: center;
    border: 1px solid #e3e3e3;
    border-radius: 7px;
    display: inline-block;
    min-width: 1.5em;
}

.mainStat .fieldHeader {
    line-height: 2em;
    font-weight: bold;
    text-align: center;
}

.mainStat .fieldFooter {
    text-align: center;
    display: block;
}

.mainStat div {
    text-align: center;
}

.mainStatValue {
    font-size: 1.75em;
}

.mainAttribute {
    margin-top: 0.25em;
    margin-bottom: 0.25em;
}

.fieldFooter {
    display: block;
    font-size: 0.75em;
    border-top: 1px solid black;
}

.mainBlock {
    text-align: center;
    margin: 0.5em;
}

.mainBlock, .grayBox {
    background-color: #f5f5f5;
    border: 1px solid #e3e3e3;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .05);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .05);
}

.grayBox {
    padding-left: 1em;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
}

.noMargin {
    margin: 0; !important;
}

.combatStat {
    border: 1px solid #e3e3e3;
    border-radius: 10px;
    text-align: center;
    background-color: #ffffff;
    font-size: 1.5em;
    margin-top: 0.25em;
    margin-bottom: 0.25em;
}

.combatStat .fieldHeader {
    margin-top: 0.5em;
    font-weight: 600;
    text-transform: uppercase;
    font-size: 0.5em;
    display: block;
    clear: both;
}

.proficient {
    font-weight: bold;
}

#skills {
    border: 1px solid #e3e3e3;
    border-radius: 20px;
    padding-bottom: 1em;
}

#skills h4 {
    text-align: center;
}

#skills > div {
    margin-left: 1em;
    page-break-before: auto;
}

#featuresandtraits {
    text-align: left;
}

#featuresandtraits .fieldHeader {

}

#featuresandtraits .fieldFooter {
    display: inline;
    border-top: none;
    border-bottom: solid 1px #e3e3e3;
}

.coinType {
    display: block;
    text-align: center;
    background-color: #fafafa;
    border: double 4px #e3e3e3;
    border-radius: 25px;
    margin-bottom: 1em;
    padding: 0.25em;
}

.coinType h6 {
    line-height: 1em;
    padding-bottom: 0.2em;
    margin-bottom: 0;
    border-bottom: double 3px #e3e3e3;
}

.coin {
    font-size: 1.2em;
}